@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"), local("opensanslight"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans-Regular"), local("opensans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroylight"), local("gilroylight"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroyextrabold"), local("gilroyextrabold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

html { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box; 
}

*, *:before, *:after { 
  -webkit-box-sizing: inherit; 
          box-sizing: inherit; 
}

body {
  margin: 0;
  min-width: 1200px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*общие стили*/

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-button,
.user-link,
.navigation-link,
.submenu-link,
.product-link,
.button,
.pagination-link,
.breadcrumbs-link,
.catalog-item-title,
.sort {
  color: #000000;
  text-decoration: none; 
}

.button,
.user-button {
  padding: 0;
  border: none;
  background: none;
}

.button {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  bottom: 0;
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button,
.navigation-link,
.filters-title,
.pagination-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.user-button,
.user-links,
.search-field {
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 36px;
}

.icon,
.start-line {
  position: relative;
}

.icon::before,
.start-line::before {
  content: "";
  position: absolute;
}

.icon::before {
  background-repeat: no-repeat;
}

.start-line::before {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

/**/
.main-header {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(rgba(255, 255, 255, 1) 40px, rgba(240, 197, 46, 0.5) 40px, rgba(240, 197, 46, 0.5));
}

.catalog-page .main-header {
  padding-bottom: 50px;
}

.header-logo {
  margin-top: -19px;
  margin-bottom: 15px;
}

.catalog-page .header-logo {
  margin-top: -17px;
  margin-bottom: 13px;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.user-menu__left {
  -ms-flex-preferred-size: 440px;
      flex-basis: 440px;
}

.user-menu__right {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.search-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 48px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 40px;
  border: none;
  background: none;
}

.search-icon::before {
  top: 16px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
}

.search-field:focus + .search-button {
  display: block;
}

.search-button {
  display: none;
  position: relative;
  border: 2px solid #000000;
  border-bottom: none;
  margin-right: 0;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.search-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 438px;
  height: 2px;
  background-color: #000000;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

.menu-icon {
  margin-right: 7px;
}

.header-icon use {
  fill: #272525;
} 

.footer-icon use {
  fill: #ffc600;
}

.main-header .menu-entrance {
  margin-right: auto;
}

.main-header .menu-compare {
  margin-right: 38px;
}

.logout-button-header {
  opacity: 0.3;
}

.main-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.catalog-navigation {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; 
}

.catalog-menu {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}

.catalog-navigation-open::before {
  top: 4px;
  left: 230px;
  width: 16px;
  height: 16px;
  background-image: url(../img/plus.svg);
  opacity: 0.3;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation-header {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; 
  padding-left: 20px;
}

.site-navigation-header .menu-guarantee {
  margin-left: 35px;
}

.site-navigation-header .menu-contacts {
  margin-left: auto;
}

.submenu {
  position: absolute;
  left: -60px;
  z-index: 11;
/*  display: none;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  visibility: hidden;
  width: 1160px;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-right: 60px;
  padding-left: 60px;
  line-height: 36px;
  background-color: rgba(247, 226, 150, 1);
}

.submenu-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.group-1 {
  margin-right: 40px;
}

.catalog-menu:hover .submenu,
.catalog-navigation-open:focus + .submenu,
.submenu:focus {
  visibility: visible;
}

/**/

.promo-slider {
  position: relative;
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  background-image: linear-gradient(rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5) 125px, rgba(255, 255, 255, 1) 125px);
}

.promo-slider.start-line::before {
  top: 50px;
  right: 460px;
  width: 100px;
  background-color: #ffffff;
}

.promo-slide {
  display: none;
}

.promo-slide::before {
  content: attr(data-number);
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 45px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.5px;
  line-height: 179.5px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slide-left,
.slide-right {
  position: relative;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
}

.slide-right {
  margin-right: 60px;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.promo-slide-1 img {
  margin-top: 13px;
  margin-left: 90px;
}

.promo-slide-2 img {
  margin-top: 25px;
  margin-left: 116px;
}

.promo-slide-3 img {
  margin-top: 78px;
  margin-left: 31px;
}

#promo-btn-1:checked ~ .slider-slides .promo-slide-1,
#promo-btn-2:checked ~ .slider-slides .promo-slide-2,
#promo-btn-3:checked ~ .slider-slides .promo-slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#promo-btn-1:checked ~ .slider-controls label[for="promo-btn-1"],
#promo-btn-2:checked ~ .slider-controls label[for="promo-btn-2"],
#promo-btn-3:checked ~ .slider-controls label[for="promo-btn-3"] {
  background-image: url(../img/slider-button.svg);
}

#promo-btn-1:focus ~ .slider-controls label[for="promo-btn-1"],
#promo-btn-2:focus ~ .slider-controls label[for="promo-btn-2"],
#promo-btn-3:focus ~ .slider-controls label[for="promo-btn-3"] {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.promo-slider-controls {
  position: absolute;
  right: 69px;
  bottom: 192px;
  z-index: 10;
}

.promo-slider-controls label {
  display: block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-slider-controls li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.promo-slider .title {
  margin-top: 92px;
  margin-bottom: 20px;
  letter-spacing: 0px;
}

.promo-slider p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 30px;
  color: #464646;
}

.promo-btn {
  width: 220px;
  margin: 40px 0;
  margin-top: 43px;
}

.properties {
  margin-top: 6px;
  margin-bottom: 50px;
  border-collapse: collapse;
}

.promo-slide .prop-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.promo-slide .prop-title {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.properties-cell {
  width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.properties-cell-short {
  width: 140px;
}

/**/
.popular-products {
   margin-bottom: 66px;
}

.popular-products,
.filter-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.popular-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
/*  justify-content: space-between;*/
  margin-right: -20px;
  margin-left: -20px;
}

.product {
  position: relative;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  margin: 20px;
  margin-top: 0;
  padding-top: 194px;
  line-height: 21px;
}

.product-icon::before,
.product-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
}

.product-icon::before {
  background-color: rgba(240, 197, 46, 0.5);
}

.product:hover .product-icon::before,
.product-link:focus.product-icon::before {
  background-color: rgba(240, 197, 46, 1);
}

.vr-icon::after {
  background-image: url(../img/popular-1.svg);
  background-position: center;
}

.monopod-icon::after {
  background-image: url(../img/popular-2.svg);
  background-position: 38px 41px;
}

.cameras-icon::after {
  background-image: url(../img/popular-3.svg);
  background-position: 49px 38px;
}

.bracelets-icon::after {
  background-image: url(../img/popular-4.svg);
  background-position: 28px 50px;
}

.watch-icon::after {
  background-image: url(../img/popular-5.svg);
  background-position: 55px 32px;
}

.cuadrupter-icon::after {
  background-image: url(../img/popular-6.svg);
  background-position: 13px 49px;
}

.product:active .product-icon::after {
  opacity: 0.3;
}

.product:active .product-link {
  color: rgba(0, 0, 0, 0.3);
}

/**/

.services-slider {
  padding-bottom: 69px;
  margin-bottom: 94px;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 100px, rgba(229, 229, 229, 1) 100px);
}

.services-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
}

.services-slider-controls {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 284px;
  padding-top: 80px;
  padding-bottom: 47px;
  border-right: 7px solid #000000;
}

.services-slider-controls li {
  padding-left: 2px;
  margin-bottom: 24px;
}

.services-slider-slide {
  display: none;
}

#serv-btn-1:checked ~ .services-container .services-slide-1,
#serv-btn-2:checked ~ .services-container .services-slide-2,
#serv-btn-3:checked ~ .services-container .services-slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#serv-btn-1:checked ~ .services-container label[for="serv-btn-1"],
#serv-btn-2:checked ~ .services-container label[for="serv-btn-2"],
#serv-btn-3:checked ~ .services-container label[for="serv-btn-3"] {
  color: #f7e184;
}

#serv-btn-1:checked ~ .services-container label[for="serv-btn-1"]::before,
#serv-btn-2:checked ~ .services-container label[for="serv-btn-2"]::before,
#serv-btn-3:checked ~ .services-container label[for="serv-btn-3"]::before {
  display: none;
}

#serv-btn-1:checked ~ .services-container .services-delivery,
#serv-btn-2:checked ~ .services-container .services-guarantee,
#serv-btn-3:checked ~ .services-container .services-credit {
  background-color: #000000;
}

#serv-btn-1:focus ~ .services-container .services-delivery,
#serv-btn-2:focus ~ .services-container .services-guarantee,
#serv-btn-3:focus ~ .services-container .services-credit {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.service-btn {
  width: 160px;
}

.services-slider-slide {
  width: 876px;
  padding-top: 20px;
  padding-left: 115px;
  padding-right: 305px;
}

.services-slider-slide .title {
  position: relative;
  margin-top: 49px;
  margin-bottom: 12px;
}

.services-slider-slide p {
  line-height: 30px;
  color: #464646;
}

.services-slider-slide .title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(100% + 75px);
  width: 185px;
  height: 200px;
  background-repeat: no-repeat;
}

.services-slide-1 .title::before {
  background-image: url(../img/delivery.svg);
  background-position: 28px 27px;
}

.services-slide-2 .title::before {
  background-image: url(../img/warranty.svg);
  background-position: 13px 3px;
}

.services-slide-3 .title::before {
  background-image: url(../img/credit.svg);
  background-position: 4px 3px;
}

/**/

.partners {
  margin-bottom: 90px;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner a {
  opacity: 0.2;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); 
}

.partner a:hover,
.partner a:focus {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/*for IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .partner img {
    opacity: 0;
  }

  .partner a {
    display: block;
    width: 260px;
    height: 100px;
    background-repeat: no-repeat;
  }

  .partner-dji a {
    background-image: url(../img/logo-1a.png);
  }

  .partner-sp-gadgets a {
    background-image: url(../img/logo-2a.png);
  }

  .partner-gopro a {
    background-image: url(../img/logo-3a.png);
  }

  .partner-vive a {
    background-image: url(../img/logo-4a.png);
  }

  .partner a:hover img,
  .partner a:focus img {
    opacity: 1;
  }
}

/**/

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 83px; 
}

.about-us,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
}

.about-us {
  padding-right: 80px;
}

.about-us.start-line::before {
  top: 0px;
  left: 0px;
}

.information .title {
  margin-top: 47px;
}

.information p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #464646;
}

.transport-companies {
  margin-top: 65px;
  margin-bottom: 55px;
  padding-left: 15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  list-style-image: url(../img/list-img.png);
}

.transport-companies li {
  padding-left: 18px;
}

.info-btn {
  margin-top: auto;
  width: 260px;
}

.contacts.start-line {
  top: 0px;
  left: 0px;
}

.map-link {
  display: block;
  margin-top: 40px;
  background-color: #e9e9e9;
}

.map-img {
  display: block;
  width: 100%;
}

/**/

.main-footer {
  padding-bottom: 67px;
  background-color: #464646;
}

.address,
.phone {
  line-height: 30px;
}

.main-footer,
.main-footer a,
.main-footer button {
  color: #ffffff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-left {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  padding-top: 65px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-left.start-line::before {
  bottom: 12px;
  left: 0;
  background-color: #ffc600;
}

.address {
  margin-top: 26px;
}

.catalog-page .address {
  margin-top: 31px;
}

.footer-middle {
  -ms-flex-preferred-size: 430px;
      flex-basis: 430px;
  padding-top: 65px;
}

.catalog-page .footer-middle {
  padding-top: 70px;
}

.site-navigation-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 65px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-button {
  margin-right: 11px;
  margin-left: 11px;
}

.socials li:first-child {
  margin-left: auto;
}

.socials li:last-child {
  margin-right: auto;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.fb-icon {
  background-image: url(../img/fb.svg);
}

.instagram-icon {
  background-image: url(../img/instagram.svg);
}

.twitter-icon {
  background-image: url(../img/twitter.svg);
}

.footer-right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;  
  padding-top: 55px;
}

.catalog-page .footer-right {
  padding-top: 60px;
}

.main-footer .user-link {
  margin-left: 25px;
}

.main-footer .menu-compare {
  margin-left: 20px;
}

.main-footer .menu-cart {
  margin-left: 15px;
}

.phone {
  margin-top: 34px;
}

.credits {
  display: block;
  margin-top: auto;
  margin-right: 0.01px;
  width: 27px;
  height: 35px;
  font-size: 0;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

/**/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: relative;
  display: none;
  z-index: 50;
  width: 960px;
  -webkit-box-shadow: 10px 20px 20px 0px rgba(4, 6, 6, 0.2);
          box-shadow: 10px 20px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-contacts {
  padding-top: 95px;
  padding-bottom: 85px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #ffffff;
}

.modal-contacts label {
  display: block;
  padding-bottom: 10px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-width {
  width: 360px;
  margin-bottom: 35px;
}

.full-width {
  width: 100%;
    margin-bottom: 45px;
}

.modal-contacts input,
.modal-contacts textarea {
  width: 360px;
  min-height: 50px;
  padding-left: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 1);
  border: none;
  background-color: rgba(229, 229, 229, 0.5);
}

.modal-contacts input:hover,
.modal-contacts textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.modal-contacts input:focus,
.modal-contacts textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.modal-contacts input:invalid,
.modal-contacts textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-contacts textarea {
  width: 760px;
  min-height: 155px;
  padding-top: 20px;
  color: rgba(70, 70, 70, 1);
  resize: none;
}

modal-contacts-button {
  margin-top: auto;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 20;
  font-size: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  border: none;
  background: none;
  background-image: url(../img/modal-close.svg);
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-show {
  display: block;
  position: fixed;
  top: calc(50% - 280px);
  left: calc(50% - 480px);
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.map {
  width: 960px;
  height: 560px;
}

/**/

.logout-button-header {
  margin-left: 21px;
  font-weight: inherit;
}

.logout-button-header:hover {
  opacity: 0.6;
}

.logout-button-header:active {
  opacity: 0.1;
}

.page-header {
  padding-right: 60px;
  padding-left: 60px;
}

.page-header .title {
  margin-top: 38px;
  margin-bottom: 19px;
  line-height: 47px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

.breadcrumbs-link {
  padding-right: 35px;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.01em;
  opacity: 0.3;
}

.breadcrumbs a[href]:hover {
  opacity: 0.6;
}

.breadcrumbs a[href]:active {
  opacity: 0.1;
}

.icon-arrow::before {
  width: 4px;
  height: 7px;
  top: 15px;
  right: 19px;
  background-image: url(../img/nav-arrow.svg);
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size:  calc(50% - 252px);
      flex-basis:  calc(50% - 252px);
  background-color: #eeeeee;
}

.filters-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.filters .filters-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: right;
    background-color: rgba(219, 219, 219, 1);
}

.filters-title-text {
  width: 328px;
  margin-left: auto;
  padding-left: 60px;
  text-align: left;
}

.filter {
  width: 328px;
  margin-top: 0;
  margin-left: auto;
  padding-top: 69px;
  padding-right: 68px;
  min-height: 700px;
}

.filter-item {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  border: none;
/*  outline: 1px solid blue;*/
}

.filter-title {
  width: 100%;
  padding-top: 11px;
  border-top: 2px solid #000000;
}

.filters label {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.range-filter {
  margin-bottom: 34px;
}

.range-controls  {
  position: relative;
  margin-bottom: 10px;
}

.scale {
  width: 200px;
  margin-top: 37px;
  height: 2px;
  background-color: #dbdbdb;
}

.bar {
  height:2px;
  width: 60%;
  background-color: #91c92f;
}

.toggle {
  position:absolute;
  width: 20px;
  height: 23px;
  background-image: url(../img/filter-button.svg);
  cursor:pointer;
}

.toggle:active {
  width: 22px;
  height: 25px;
  background-size: cover;
  -webkit-transform: translate( -1px, -1px);
          transform: translate( -1px, -1px);
}

.min-toggle {
  top: -10px;
  left: -6px;
}

.max-toggle {
  top: -10px;
  left: 107px;
}

.price-controls {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22.27px;
  font-weight: 300;
  opacity: 0.2;
}

.price-controls input {
  font-family: "Gilroy", "Arial", sans-serif;
  width: 66px;
  border: none;
  background: none;
}

.color-filter {
  margin-bottom: 31px;
}

.color-filter .filter-title {
  margin-bottom: 20px;
}

.filter-option {
  padding-left: 37px;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -39px;
  background-repeat: no-repeat;
}

.filter-input-checkbox + label::before,
.filter-input-checkbox:checked:active + label::before {
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked + label::before,
.filter-input-checkbox:active + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.bluetooth-filter {
  margin-bottom: 32px;
}

.bluetooth-filter .filter-title{
  margin-bottom: 18px;
}


.filter-input-radio + label::before,
.filter-input-radio:checked:active + label::before {
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
}

.filter-input-radio:checked + label::before,
.filter-input-radio:active + label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-option:hover label::before {
  opacity: 0.6;  
}

.filter-input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-option:active label::before {
  opacity: 1;
}

.filter-button {
  margin-left: 60px;
}

.catalog-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc(50% + 252px);
      flex-basis: calc(50% + 252px);
}

.sort-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 74px;
}

.filters-title,
.pagination-list a{
  font-size: 16px;
}

.sort-menu .filters-title {
  -ms-flex-preferred-size: 168px;
      flex-basis: 168px;
}

.sort-type {
  -ms-flex-preferred-size: 589px;
      flex-basis: 589px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
}

.sort-option {
  margin-left: 30px;
}

.sort-direction-up {
  margin-left: auto;
  margin-top: -10px;
}

.sort-direction-down {
  margin-left: 20px;
}

.sort,
.sort-direction {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort:hover {
  opacity: 0.6;
}

.sort:active {
  opacity: 1;
}

.sort-direction {
  font-size: 0;
  border: 5.5px solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;
  opacity: 0.2;
  
}

.sort-direction:hover {
  opacity: 0.4;
}

.sort-direction:active {
  opacity: 1;
}

.sort-up {
  border-top-width: 0px;
  border-bottom-width: 10px;
}

.sort-down {
  border-top-width: 10px;
  border-bottom-width: 0px;
}

.sort-active,
.sort-active:hover {
  opacity: 1;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin-top: 54px;
/*  margin-bottom: 6px;*/
  margin-left: 52px;
}

.catalog-item {
  position: relative;
  margin-top: 15px;
  margin-bottom: 17px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.catalog-item-image {
  width: 360px;
  height: 380px;
}

.catalog-item a {
  display: block;
}

.catalog-item-image img {
  display: block;
  width: 100%;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 800;
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.catalog-item-info h3 {
  width: 260px;
}

.catalog-item-info .price {
  width: 100px;
  margin-top: 20px;
  text-align: right;
}

.catalog-item-buy {
  position: absolute;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-buy .button,
.catalog-item-buy .to-compare {
  margin-right: auto;
  margin-left: auto;
}

.catalog-item-buy .button {
  margin-top: 172px;
  margin-bottom: 5px;
}

.to-compare {
  font-size: 13px;
  opacity: 0.5;
}

.to-compare:hover {
  opacity: 1;
}

.to-compare:active {
  opacity: 0.2;
}

.catalog-item-new::after {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;
  padding-top: 19px;
  padding-left: 3px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.sort-menu,
.pagination-list {
  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-item:hover .catalog-item-buy {
  z-index: 10;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  margin-top: 1px;
  margin-bottom: 75px;
  margin-left: 71px;
}

.pagination-item-number {
  min-width: 12px;
}

.pagination-link {
  display: block;
  padding-top: 27px;
  padding-bottom: 24px;
  padding-right: 13px;
  padding-left: 13px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.pagination-link:hover {
  opacity: 0.6;
}

.pagination-link:active {
  opacity: 1;
}

.pagination-item-current .pagination-link {
  opacity: 1;
}

.pagination-item-prev .pagination-link,
.pagination-item-next .pagination-link {
  display: block;
  padding-top: 26px;
  padding-bottom: 25px;
}

.pagination-item-prev .pagination-link {
  margin-right: 15px;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-prev .pagination-link {
  padding-right: 27px;
  padding-left: 30px;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-item-next .pagination-link {
  padding-right: 28px;
  padding-left: 34px;
}

.pagination-item-prev .pagination-link:hover,
.pagination-item-next .pagination-link:hover {
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 1;
}

.pagination-item-prev .pagination-link:active,
.pagination-item-next .pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/**/

.search-field,
.main-header .logo-header:active,
.main-footer .logo-footer:active,
.main-header .navigation-link:active,
.main-footer .navigation-link:active,
.main-header .user-link:active,
.main-footer .user-link:active,
.main-header .submenu-link:active,
.main-footer .credits:active {
  opacity: 0.3;
}

.search-field:hover,
.logo:hover,
.user-link:hover,
.navigation-link:hover,
.submenu-link:hover,
.credits:hover {
  opacity: 0.6;
}

.search-field:focus {
  opacity: 1;
  outline: none;
}